<div class="containers hall-building">
  <div class="gradient-filter">
    <header class="title projects">
      <h1>Projects</h1>
    </header>
    <section class="instructor-dashboard projects">
      <% unless @projects.empty? %>
        <table class="table">
          <thead>
            <tr>
              <th>Project Title</th>
              <th>Description</th>
              <th>Due Date</th>
              <th>Maximum Team Size</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td><%= project.title %></td>
                <td><%= project.description || 'No description provided.' %></td>
                <td><%= project.due_date.strftime('%B %d, %Y') %></td>
                <td><%= project.maximum_team_size %></td>
                <td>
                  <%= link_to edit_project_path(project) do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                  <%= link_to project_path(project), method: :delete, data: { turbo_method: :delete } do %>
                    <i class="fa-solid fa-trash"></i>                 
                  <% end %>
                  <%= link_to project do %>
                    <i class="fa-solid fa-eye"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= button_to new_project_path, class: "button primary", method: :get do %>
          <i class="fa-solid fa-plus"></i>&nbsp;Create a new project
        <% end %>
      <% else %>
        <div style="display: flex; flex-direction: column; align-items: center">
          <p>You have no projects.</p>
          <%= button_to new_project_path, class: "button primary", method: :get do %>
            <i class="fa-solid fa-plus"></i>&nbsp;Create a new project
          <% end %>
        </div>
      <% end %>
    </section>
  </div>
</div>

