<div class="containers hall-building left-navbar">
  <header class="section one">
    <h1>Hello <%= current_user.first_name %>!</h1>
    <h5><%= DateTime.now.strftime("Today is %A, %B %d, %Y") %>.</h5>
    <% unless @avg_ratings.empty? %>
    <h2>Overall Scores</h2>
    <% colors = [] %>
    <div class="student-overview">
      <% [:'Cooperation', :'Conceptual', :'Practical', :'Work Ethic'].each do |category| %>
      <% score = @project_data[category].clamp(0, 7) %>
      <% background_color = background_color_for_score(score) %>
      <% colors << background_color %>
      <div class="overview" style="background-color: <%= background_color %>;">
        <%= category.to_s.split('_').map(&:capitalize).join(' ') %>:
        <strong><%= score.round(2) %>/7.00</strong>
      </div>
      <% end %>
    </div>
    <% end %>
  </header>
  <section class="section">
    <h2>Upcoming Evaluations</h2>
    <div class="upcoming-evaluations-container">
      <% if @upcoming_evaluations.present? %>
      <% @upcoming_evaluations.each do |upcoming_evaluation| %>
      <%= render partial: 'evaluation', locals: { upcoming_evaluation: upcoming_evaluation } %>
      <% end %>
      <% else %>
      <%= render 'partials/floating_box', 
                      icon: "fa-solid fa-clock",
                      content: "No upcoming evaluations" 
                  %>
      <% end %>
    </div>
  </section>

  <section class="section">
    <h2>Average Ratings by Project</h2>

    <%= form_with url: course_student_dashboard_index_path, method: :get, local: true do %>
    <%= select_tag :project, options_for_select(@average_ratings_by_project.keys.unshift('Overall'), params[:project] || 'Overall'), onchange: "this.form.submit();" %>
    <% end %>

    <div class="student-chart">
      <%= column_chart @project_data, id: "ratings_chart", height: "300px", colors: colors, library: { title: { text: "Average Ratings" } } %>
    </div>
  </section>
</div>