<div class="containers hall-building">
	<div class="gradient-filter">
		<header class="title">
      <% if current_user.instructor? %>
        <h1>Your Courses</h1>
      <% elsif current_user.student? %>
        <h1>Your Enrolled Courses</h1>
      <% end %>
		</header>
		<section class="course-selection">
      <% if current_user.instructor? %>
        <% @courses.each do |course| %>
          <%= render 'course_box', course: course %>
        <% end %>
      <% elsif current_user.student? %>
        <ul>
          <% @student_courses.each do |course| %>
            <li>
              <%= course.title %> - <%= course.code %>
              <%= button_to "Select", select_course_course_selection_index_path(course_id: course.id), method: :post %>
              <%= button_to "Drop", update_course_selection_course_selection_index_path(course_id: course.id, action_type: "drop"), method: :post %>
            </li>
          <% end %>
        </ul>
        
        <h3>Available Courses</h3>
        <ul>
          <% @courses.each do |course| %>
            <li>
              <%= course.title %> - <%= course.code %>
              <% unless @student_courses.include?(course) %>
                <%= button_to "Add", update_course_selection_course_selection_index_path(course_id: course.id, action_type: "add"), method: :post %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
		</section>
	</div>
</div>

