<p>Hello <%= @student.first_name %>,</p>

<p>We wanted to remind you that you have <%= @pending_evaluations.count %> evaluation(s) due tomorrow for:</p>
<ul>
  <% @pending_evaluations.each do |evaluation| %>
    <li><%= User.find(evaluation.evaluatee_id).first_name %> | <strong>Project:</strong> <%= evaluation.project.title %></li>
  <% end %>
</ul>

<p>Please make sure to complete your evaluations by the deadline to stay on track.</p>

<%= link_to 'Complete Your Evaluations Now', new_user_session_url, class: 'email-button' %>

<p>Thank you for your prompt attention to this matter!</p>
<p>Best regards,<br>The Real Ratings Team</p>    