<div class="settings-form">
  <form action="<%= form_action_path %>" method="post" enctype="multipart/form-data" class="settings-flex">
    <%= hidden_field_tag :_method, 'patch' %>
    <%= csrf_meta_tags %>
    <div class="input-group">
      <label>First Name</label>
      <input type="text" placeholder="John" name="user[first_name]" value="<%= current_user.first_name %>">
    </div>

    <div class="input-group">
      <label>Last Name</label>
      <input type="text" placeholder="Smith" name="user[last_name]" value="<%= current_user.last_name %>">
    </div>

    <div class="input-group">
      <label>Email</label>
      <input type="email" placeholder="johnsmith@gmail.com" name="user[email]" value="<%= current_user.email %>">
    </div>

    <div class="input-group">
      <label for="birth_date">Birth Date</label>
      <input type="date" name="user[birth_date]" value="<%= current_user.birth_date || Date.today %>">
    </div>

    <div class="input-group">
      <label for="profile_picture">Profile Picture</label>
      <% if current_user.profile_picture.attached? %>
        <img src="<%= url_for(current_user.profile_picture) %>" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;">
        <div>
          <label><input type="checkbox" name="user[remove_profile_picture]", value="1"> Remove profile picture</label>
        </div>
      <% else %>
        <img src="<%= asset_path('default_pfp.png') %>" alt="Default Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;">
      <% end %>
      <input type="file" name="user[profile_picture]">
    </div>

    <div class="input-group">
      <label>Current Password</label>
      <input type="password" placeholder="********" name="user[current_password]">
    </div>

    <div class="input-group">
      <label>New Password</label>
      <input type="password" placeholder="********" name="user[password]">
    </div>

    <% if local_assigns[:source] == 'student' %>
      <div class="input-group">
        <label>Student ID</label>
        <input type="number" placeholder="40001234", name="user[student_id]", value=<%= current_user.student_id %>>
      </div>
    <% end %>

    <button type="submit" class="button primary">Apply</button>
  </form>
</div>
