<div class="slider-component">
  <label><%= title %></label>
  <div class="slider-wrapper">
    <input type="range" min="<%= minimum %>" max="<%= maximum %>" value="<%= minimum %>" class="slider">
    <div class="slider-scale">
      <% (minimum..maximum).each do |number| %>
        <span><%= number %></span>
      <% end %>
    </div>
  </div>
</div>
