<%= form_with(model: project, html: { class: 'simple-form'}) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="full">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>
  </div>

  <div class="fields">
    <div class="full">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>
  </div>

  <div class="fields">
    <div class="full">
      <%= form.label :due_date, style: "display: block" %>
      <%= form.date_field :due_date %>
    </div>
  </div>

  <div class="fields">
    <div class="full">
      <%= form.label :maximum_team_size, style: "display: block" %>
      <%= form.number_field :maximum_team_size %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
