<div class="nav-signedin">
    <div class="nav-signedin-logo">
        <img src="" alt="realrating-logo">
    </div>
    <div class="nav-signedin-options">
        <%= link_to 'Dashboard', instructor_path , class: "nav-signedin-link #{'active' if current_page?(instructor_path)}" %>
        <%= link_to 'Teams',instructor_teams_path , class: "nav-signedin-link #{'active' if current_page?(instructor_teams_path)}" %>
        <%= link_to 'Results',instructor_results_path , class: "nav-signedin-link #{'active' if current_page?(instructor_results_path)}" %>
        <%= link_to 'Settings',instructor_settings_path , class: "nav-signedin-link #{'active' if current_page?(instructor_settings_path)}" %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
    </div>
</div>